<h1>02: nedb - insert, sort</h1>
<br>
<form action="/form" method="get">
    <input type="text" name="login" id="login" placeholder="login">
    <input type="text" name="password" id="password" placeholder="password">
    <input type="submit" value="Zapisz">
</form>
<br>
{{#each context}}
<h1>{{@index}} {{login}} {{password}} {{timestamp}}</h1>
<br>
{{/each}}